/ Footer
%section.container.flex.flex-wrap.justify-between.content-center.p2.pt3.pb3.w100
  %span.flex.flex-wrap
    = link_to 'FIND ME', '#',
      class: 'mr1 sm-font-small md-hide lg-hide'
    %span.mr1.text-grey-light.md-hide.lg-hide /
    = link_to 'INSTAGRAM',
      'https://www.instagram.com/lennonzf/',
      target: 'auto',
      class: 'mr1 sm-font-small'
    %span.mr1.text-grey-light /
    = link_to 'LINKEDIN',
      'https://au.linkedin.com/in/lennonzf',
      target: 'auto',
      class: 'mr1 sm-font-small'
    %span.mr1.text-grey-light /
    = link_to 'GITHUB',
      'https://github.com/lennonzf',
      target: 'auto',
      class: 'mr1 sm-font-small'
  %span.flex.flex-wrap.text-grey
    = link_to 'SOURCE CODE',
      'https://github.com/lennonzf/lennonzf.github.io',
      target: 'auto',
      class: 'mr1 sm-font-small'
    %span.mr1.text-grey-light.sm-font-small /
    .sm-font-small 2016 &copy; LENNON CHENG
