/ Footer
.container.flex.flex-wrap.justify-between.content-center.p2.pt3.pb3.w100
  .flex.flex-wrap
    = link_to 'INSTAGRAM',
      '//www.instagram.com/lennonzf/',
      target: 'auto',
      class: 'nav mr1 sm-font-small no-external'
    .light.mr1.text-grey-light /
    = link_to 'LINKEDIN',
      '//au.linkedin.com/in/lennonzf',
      target: 'auto',
      class: 'nav mr1 sm-font-small no-external'
    .light.mr1.text-grey-light /
    = link_to 'DRIBBBLE',
      '//dribbble.com/lennonzf',
      target: 'auto',
      class: 'nav mr1 sm-font-small no-external'
    .light.mr1.text-grey-light.md-hide.lg-hide /
    .sm-font-small.text-grey.md-hide.lg-hide 2016 &copy; LENNON CHENG
  .flex.flex-wrap.text-grey.sm-mt1.sm-hide
    = link_to 'SOURCE CODE',
      '//github.com/lennonzf/lennonzf.github.io',
      target: 'auto',
      class: 'nav mr1 sm-font-small no-external'
    .light.mr1.text-grey-light.sm-font-small /
    = link_to 'STYLE GUIDE',
      '/style-guide',
      class: 'nav mr1 sm-font-small'
    .light.mr1.text-grey-light.sm-font-small /
    .sm-font-small #{DateTime.now.year} &copy; LENNON CHENG
