/ Header
%section.border-grey-light.mb5.p2.w100
  .container.flex.flex-wrap.justify-between.mb5
    %span.flex.flex-wrap.u-clearfix.pt3
      = link_to 'L', 'index.html',
        class: 'box-l no-select no-transition'
    %span.flex.flex-wrap.pt4.items-center
      = active_link_to 'WORK', 'work.html',
        class: 'regular'
      = active_link_to 'ABOUT', '#',
        class: 'ml6 xs-hide'
      = active_link_to 'BLOG', '#',
        class: 'ml6 xs-hide'
      = link_to 'FIND ME', '#',
        class: 'ml6 pt1 pb1 pl3 pr3 bg-blue text-white bg-black-hover text-white-hover'
