---
title: Work - AIME | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align AIME

    .article-paragraph-h2
      %h2 Intro
      %p
        Entering 2018, I had an interesting project at NetEngine to help AIME revamp their web precense. The non-profitable organisation is focusing on mentoring and closing the education gap for the minority groups in the country.

    .article-paragraph-h2
      %h2 Starting point
      %p
        Inspired by a fabulous
        = external_link_to "intro video",
          "https://vimeo.com/220543875",
          class: ''
        from AIME, I started defining the style of the website by creating an illustration.

      = image_link '/assets/images/projects/aime/illustration.jpg',
        class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Icons
      %p My process then followed by creating a series of customized icon to tell the stories of AIME's main functionality and call-to-actions.

      = image_link '/assets/images/projects/aime/icons.jpg',
        class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Homepage
      = image_link '/assets/images/projects/aime/homepage.png',
        class: 'frame-dotted'

    .article-paragraph-h2
      .flex.justify-center
        = external_link_to "Dribbble Project",
          'https://dribbble.com/lennonzf/projects/620904-AIME',
          class: 'button'

    = partial 'partials/back_to_work'
