---
title: Work - Avatar | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align Avatar

    .article-paragraph-h2
      %h2 Intro
      %p
        Recently, I took a short
        = external_link_to "avatar course",
          "https://www.skillshare.com/classes/Digital-Illustration-Design-Your-Avatar/771767225",
          class: ''
        from
        = external_link_to "Ryan Putnam",
          "https://dribbble.com/RypeArts",
          class: ''
        , a top-gun designer and potter, on Skillshare.

      %p Here's my homework.

    .article-paragraph-h2
      %h2 Starting point
      = image_link '/assets/images/projects/avatar-line/1.jpg',
        class: 'frame-dotted'

      .flex.flex-wrap.justify-between.mt1
        .c1in2
          = image_link '/assets/images/projects/avatar-line/2.jpg',
          class: 'frame-dotted'
        .c1in2
          = image_link '/assets/images/projects/avatar-line/3.jpg',
          class: 'frame-dotted'

    .article-paragraph-h2
      %h2 More

      .flex.flex-wrap.justify-between
        .c1in2
          = image_link '/assets/images/projects/avatar-line/4.jpg',
          class: 'frame-dotted'
        .c1in2
          = image_link '/assets/images/projects/avatar-line/5.jpg',
          class: 'frame-dotted'

      .flex.flex-wrap.justify-between.mt1
        .c1in2
          = image_link '/assets/images/projects/avatar-line/6.jpg',
          class: 'frame-dotted'
        .c1in2
          = image_link '/assets/images/projects/avatar-line/7.jpg',
          class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Kian
      = image_link '/assets/images/projects/avatar-line/hero.jpg',
          class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Santa
      = image_link '/assets/images/projects/avatar-line/santa_claus.jpg',
          class: 'frame-dotted'

    .article-paragraph-h2
      .flex.justify-center
        = external_link_to "Dribbble Shot",
          'https://dribbble.com/shots/4044129-Santa-Claus',
          class: 'button'

    = partial 'partials/back_to_work'
