---
title: Work - Coffee Cup | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align Coffee Cup

    .article-paragraph-h2
      %h2 Intro
      %p
        A while ago, I was asked to come up with a coffee cup wrapper design representing
        = link_to "NetEngine", "http://netengine.com.au/"
        for a tech girl event in Brisbane.
      %p
        I took the chance to create some customized illustrations aligning with the branding via sketch and illustrator, to learn how to make icon patterns and to get myself familiarize with CMYK and print again.
      %p
        It felt really great to see my design getting printed out and used in the physical world.

    .article-paragraph-h2
      %h2 Cup Wrapper
      .article-image-w600px
        = image_tag '/assets/images/projects/coffee-cup/coffee-cup-design.png'

    .article-paragraph-h2
      %h2 Physical Result
      .article-image-w600px
        = image_tag '/assets/images/projects/coffee-cup/final.jpg'

    .article-paragraph-h2
      %h2 Icon
      .article-image-w600px
        = image_tag '/assets/images/projects/coffee-cup/hero.jpg'

    .article-paragraph-h2
      %h2 Pattern
      .article-image-w600px
        = image_tag '/assets/images/projects/coffee-cup/pattern.jpg'

    .article-paragraph-h2
      .flex.justify-center
        = link_to "Instagram Post", 'https://www.instagram.com/p/BUqjleqFJD3/?taken-by=lennonzf', class: 'button', target: 'auto'

    = partial 'partials/back_to_work'
