---
title: Work | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.container.mb6.p2.flex.flex-wrap.justify-between.flex-auto
  - data.work.studies.each_with_index do |study, i|
    - if i == 0
      .sm-c1in1.c1in2.px5.mt10
        .mt3.mb6.flex.flex-column.self-center.justify-center
          .box-container
            .box-case-study.font-large.manteka Case Study

        %p.font-large.text-grey-dark Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .sm-c1in1.c1in2.px5.mb10
        = link_to "/work/#{study.slug}" do
          .work-tile.key
            .mb3.image{ style: "background-image: url(/assets/images/projects/#{study.slug}/hero.#{study.image_format}); background-position: #{study.image_position}" }
            .mb1.text-blue= study.client
            %h3.semi.text-white= study.title
            %p.text-white.mb2= study.description
            %p.mb1.mt4.text-white
              %u= study.role_1
              %span.mx1.text-grey-light /
              %u= study.role_2


    - else
      .c1in3.px2
        = link_to "/work/#{study.slug}" do
          .work-tile
            .mb3.image{ style: "background-image: url(/assets/images/projects/#{study.slug}/hero.#{study.image_format}); background-position: #{study.image_position}" }
            .mb1.text-blue= study.client
            %h3.semi.text-black= study.title
            %p.text-grey-dark.mb2= study.description
            %p.mb1.mt4.text-grey-xdark
              %u= study.role_1
              %span.mx1.text-grey-light /
              %u= study.role_2
  .c1in3.px2
