---
title: Work | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.container.mb6.p2.flex.flex-wrap.flex-auto.w100.justify-between.content-start
  .c1in1
    .mt3.mb6.flex.flex-column.self-center.center-align.justify-center
      .box-container
        .box-case-study.font-large.manteka Case Study


  - data.work.studies.each_with_index do |study, i|
    - if i == 0
      .c1in1
        .work-tile.bg-black-hover.all-transition.mb3
          / project tag
          .flex.justify-between
            .work-tile-tag.z1.ml2.bg-black-o3
              %span 
                @ 
                = study.client
            .work-tile-tag.z1.mr2.bg-blue-o8
              %span= study.role_1
              %span.text-grey-light.mx2 /
              %span= study.role_2
          / project title & description
          .flex.flex-wrap.flex-auto.text-white.z1
            .flex.flex-column.flex-auto.mt6.sm-mt8
              .work-tile-title= study.title
              .work-tile-description= study.description
          / background color hover
          .bg-image-base.o4{ style: "background-image: url(/assets/images/projects/#{study.slug}/hero.#{study.image_format}); background-position: #{study.image_position}" }
          / wrapper for anchor link
          = link_to "/work/#{study.slug}" do
            .bg-image-base.z2
    - else
      .c1in3.md-c1in2.sm-c1in1
        .work-tile.bg-black-hover.all-transition.mb3
          / project tag
          .flex.justify-between
            .work-tile-tag.z1.ml2.bg-black-o3
              %span 
                @ 
                = study.client
            .work-tile-tag.z1.mr2.bg-blue-o8
              %span= study.role_1
              %span.text-grey-light.mx2 /
              %span= study.role_2
          / project title & description
          .flex.flex-wrap.flex-auto.text-white.z1
            .flex.flex-column.flex-auto.mt6.sm-mt8
              .work-tile-title.font-large.sm-font-large= study.title
              .work-tile-description= study.description
          / background color hover
          .bg-image-base.o4{ style: "background-image: url(/assets/images/projects/#{study.slug}/hero.#{study.image_format}); background-position: #{study.image_position}" }
          / wrapper for anchor link
          = link_to "/work/#{study.slug}" do
            .bg-image-base.z2

  .c1in3

  / .c1in3.md-c1in2.sm-c1in1
  /   .work-tile.bg-black-hover.all-transition.mb3
  /     / project tag
  /     .flex.justify-between
  /       .work-tile-tag.z1.ml2.bg-black-o3
  /         %span @ NetEngine
  /       .work-tile-tag.z1.mr2.bg-blue-o8
  /         %span Design Thinking
  /     / project title & description
  /     .flex.flex-wrap.flex-auto.text-white.z1
  /       .flex.flex-column.flex-auto.mt6.sm-mt8
  /         .work-tile-title.font-large.sm-font-large Design Process
  /         .work-tile-description Rethink the current design process of NetEngine
  /     / background color hover
  /     .bg-image-design-process.o4
  /     / wrapper for anchor link
  /     = link_to '#' do
  /       .bg-image-base.z2


.container.mb6.p2.flex.flex-wrap.flex-auto.w100.justify-between.content-start
  .c1in1
    .mt3.mb6.flex.flex-column.self-center.center-align.justify-center
      .box-container
        .box-creation.font-large.manteka Creation

  - data.work.creations.each_with_index do |creation, i|
    .c1in3.md-c1in2.sm-c1in1
      .work-tile.bg-white-hover.all-transition.mb3
        / background color hover
        .bg-image-base.o9{ style: "background-image: url(/assets/images/projects/#{creation.slug}/hero.#{creation.image_format}); background-position: #{creation.image_position}" }
        / wrapper for anchor link
        = link_to "/work/#{creation.slug}" do
          .bg-image-base.z2

  .c1in3
