---
title: Work - Ninja Robbers | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align Ninja Robbers

    .article-paragraph-h2
      %h2 Intro
      %p For the final semester of my uni, I finally had a chance to work on something with real fun, a multi-device party game - Ninja Robbers. I was mainly responsible for User Interface, overall visual style and web design/development for the Unity game. Although it was a first time experience for me to crack on the design aspect of a game, I did enjoy creating a lot of graphics and pushing my limits.

    .article-paragraph-h2
      %h2 Infographic
      .article-image-w600px
        = image_link '/assets/images/projects/ninja-robbers/infographic.jpg',
          class: ''

    .article-paragraph-h2
      %h2 Game Interface
      .article-image-w600px
        = image_link '/assets/images/projects/ninja-robbers/game_1.jpg',
          class: ''
      .article-image-w600px
        = image_link '/assets/images/projects/ninja-robbers/game_2.jpg',
          class: ''
      .article-image-w600px
        = image_link '/assets/images/projects/ninja-robbers/game_3.jpg',
          class: ''
      .article-image-w600px
        = image_link '/assets/images/projects/ninja-robbers/game_4.jpg',
          class: ''

    = partial 'partials/back_to_work'
