---
title: Work - Ninja Robbers | Lennon Cheng - UX Designer
---

.flex-auto.mb12
  .container.max-w600px
    %h1.center-align Ninja Robbers

    .mt12
      %h2 Intro
      %p For the final semester of my uni, I finally had a chance to work on something with real fun, a multi-device party game - Ninja Robbers. I was mainly responsible for User Interface, overall visual style and web design/development for the Unity game. Although it was a first time experience for me to crack on the design aspect of a game, I did enjoy creating a lot of graphics and pushing my limits.

    .mt12
      %h2 Infographic
      = image_tag '/assets/images/projects/ninja-robbers/infographic.jpg'

    .mt12
      %h2 Game Interface
      .mt0
        = image_tag '/assets/images/projects/ninja-robbers/game_1.jpg'
      .mt4
        = image_tag '/assets/images/projects/ninja-robbers/game_2.jpg'
      .mt4
        = image_tag '/assets/images/projects/ninja-robbers/game_3.jpg'
      .mt4
        = image_tag '/assets/images/projects/ninja-robbers/game_4.jpg'

    .mt12
      = link_to "< Back to Work", '/work', class: 'text-grey light'
