---
title: Work - Outfit | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align Outfit

    .article-paragraph-h2
      %h2 Intro
      %p
        = external_link_to "Outfit",
          "http://outfit.io/",
          class: ''
        is a marketing product developed by my company NetEngine. They have a super cool website and some awesome crew. I am occasionally asked to come up with some illustrations for the product.

    .article-paragraph-h2
      %h2 Loading Screen
      = image_link '/assets/images/projects/outfit/hero.jpg',
        class: ''

    .article-paragraph-h2
      %h2 Outfit Lab
      = image_link '/assets/images/projects/outfit/lab.png',
        class: ''

    .article-paragraph-h2
      %h2 Missing Screen
      = image_link '/assets/images/projects/outfit/missing.png',
        class: ''

    = partial 'partials/back_to_work'
