---
title: Work - Quarterly @ NetEngine | Lennon Cheng - UI/UX Designer, Front-end Developer
---
.flex-auto
  .container.max-w600px
    %h1.center-align Quarterly @ NetEngine

    .article-paragraph-h2
      %h2 Intro
      %p
        Each quarter at
        = external_link_to 'NetEngine',
        'http://netengine.com.au/',
        class: ''
        %span , the leadership team develops a theme for the team to keep track of our shining goal. For each theme, a poster is created to deliver the message and to inspire the entire team.

    .article-paragraph-h2
      %h2 Quarter 4
      %p
        At the final quarter of 2017-2018 financial year, we aim to deliver 67 sprints to our clients. If we reach the goal, the entire team will go indoor snowboarding and laser tagging.

      %p
        While the Commonwealth Game has ended its 2018 chapter, we thought we could carry on with the spirit and do an “NE Game”.

      .article-paragraph-h3
        %h3 The Poster
        = image_link '/assets/images/projects/quarter-theme/hero.jpg',
          class: 'frame-dotted'

        %p.mt3
          I am particularly proud of this poster I made. The abstract style is something that I always get inspired by and want to give a go. I divided the poster into small fractions to represent the key clients that NetEngine is currently working with. The way to success has been labeled with 67 dotted line waiting for the team members to fill in the color on the physical poster.

        %p
          There are certainly a lot of room for refinement and polishing. However, I am really excited to have the opportunity to work on more and more illustrations and do some wild experiments with them.

    .article-paragraph-h2
      %h2 Quarter 3
      %p
        For the first trial quarter, we decided to name the theme "Level Up", as all of our team members are big game buffs (sorry to the senior leaders).

      .article-paragraph-h3
        %h3 Characters
        %p I created three disctincitve characters to generalize the titles at NetEngine, they are ruby developer, project manager/designer and front-end developer.
        = image_link '/assets/images/projects/quarter-theme/2018-q3-1.jpg',
        class: 'frame-dotted'

        .flex.flex-wrap.justify-between.mt1
          .c1in2
            = image_link '/assets/images/projects/quarter-theme/2018-q3-2.jpg',
            class: 'frame-dotted'
          .c1in2
            = image_link '/assets/images/projects/quarter-theme/2018-q3-3.jpg',
            class: 'frame-dotted'

      .article-paragraph-h3
        %h3 Wave
        = image_link '/assets/images/projects/quarter-theme/2018-q3-4.png',
          class: 'frame-dotted'

      .article-paragraph-h3
        %h3 The Poster
        = image_link '/assets/images/projects/quarter-theme/2018-q3-poster.jpg',
        class: 'frame-dotted'

    .article-paragraph-h2
      .flex.justify-center
        = external_link_to "Dribbble Shot",
          'https://dribbble.com/lennonzf/projects/706848-Quarterly-NetEngine',
          class: 'button'

    = partial 'partials/back_to_work'
