---
title: Work - Senza Carta | Lennon Cheng - UI/UX Designer, Front-end Developer
page_title: 'Senza Carta'
description: 'Launching the brand new digital employee experience'
slug: 'senza-carta'
image_format: 'jpg'
image_position: 'center bottom'
---

.flex-auto
  = partial 'partials/case_header'

  .container.max-w900px
    .article-info-board
      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Role
        .flex3.sm-flex1
          Web Designer / Developer

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Skill
        .flex3.sm-flex1
          Landing Page Design / Development / Illustration

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Tool
        .flex3.sm-flex1
          Sketchapp / InVision / Pen & Paper / HAML / SASS / JS

      .flex.sm-flex-column.left-align
        .flex1
          .text-blue Result
        .flex3.sm-flex1
          = external_link_to "Senza Carta",
            '//senzacarta.com.au',
            class: ''

    .article-paragraph-h2
      %h2 Intro
      %p As my team at NetEngine was reaching to the delivery point of the MVP product for a ruby on rails application named Senza Carta, I was involved in designing and developing a landing page for the product.

      .article-paragraph-h3
        %h3 Client
        %p Senza Carta, means “paperless”, aims to bring a new digital employee experience for Human Resources in business and individual job seekers.

      .article-paragraph-h3
        %h3 Challenge
        %p I was asked to continue iterating the design based on my team member’s initial work. My client also wants to see some illustrations on the site.

    .article-paragraph-h2
      %h2 Process

      .article-paragraph-h3
        %h3 Ground Work
        .article-paragraph-w900px
          .flex.sm-flex-column.justify-between.items-center
            .c1in2.sm-c1in1.lg-p8.md-p8.sm-p4
              = image_link '/assets/images/projects/senza-carta/logo.png',
                class: ''
            .c1in2.sm-c1in1.lg-p2.md-p2.sm-mt4
              %p
                What the client wanted was simple at the initial stage, be on brand and be clean. The landing page of
                = external_link_to 'Facebook Workplace',
                  '//workplace.fb.com/',
                  class: ''
                and NetEngine’s in house project
                = external_link_to 'Cloudbill',
                  '//cloudbill.io/',
                  class: ''
                were given as example.

              %p
                The team was only provided with a logo and some content from client’s pitch deck.


        %p Here’s the initial design presented by my team:

        .article-image-w600px
          = image_link '/assets/images/projects/senza-carta/design_v1.png',
            class: ''

        %p With a tangible page to look at, the client started to realize her vision of the landing page, so we get some very constructive feedback:
        %ul
          %li Not fond of the liberty we took with changing the logo
          %li More distinctive colours to separate different sections of the page (the current grey colour is too light)
          %li The page needs to be divided into two categories, for individual and for business. Each category has its own style and content.
          %li Require some illustrations for the individual page to target a more diverse demographic
          %li Would like to see more product mockup images in the page
          %li
            New example:
            = external_link_to "deputy’s feature page",
              "//www.deputy.com/features",
              class: ''

      .article-paragraph-h3
        %h3 Iteration 1
        %p
          I picked up the work from this point. During the feedback meeting, the client expressed her interests in seeing some illustrations on the page for individual users (job seekers) to deliver the message that
          %span.bold Senza Carta is for everyone.

        %p The first idea that jumped into my head was bags. No matter what’s your job, you will always need a bag. So I created a bunch of them.

        .article-paragraph-w900px
          = image_tag '/assets/images/projects/senza-carta/bags.svg'

        %p
          Following the spirit of the new example picked by the client, I created some on-brand device containers for the screenshots of the actual web application and searched for some nice stock images from
          = external_link_to 'unsplash',
            '//unsplash.com',
            class: ''
          \.

        %p I presented the new version of the individual page at the end of this iteration and client was pretty happy about the illustration and the usage of stock images.

        .article-image-w600px
          = image_link '/assets/images/projects/senza-carta/design_v2.png',
            class: ''

      .article-paragraph-h3
        %h3 Iteration 2
        %p I was on track to hit the budget by finish the design of the business page. However, the more I am working on the business page, the more I feel that the elements on the current individual page, stock images and product mockups, belong to the business page. It would be way cooler if I had the chance to create more illustrations for the individual pages.

        %p.bold So I asked, and the client said yes!

        .article-paragraph-w900px
          = image_tag '/assets/images/projects/senza-carta/illustration.svg'

        %p Here’s the final version approved by the client:

        .article-paragraph-w900px
          .flex.justify-between
            .c1in1
              = image_link '/assets/images/projects/senza-carta/design_v3_2.png',
                class: ''
            .c1in1
              = image_link '/assets/images/projects/senza-carta/design_v3_1.png',
                class: ''

      .article-paragraph-h3
        %h3 Development
        %p
          With the client’s consent, the actual Senza Carta web app requires a relatively low level of browser support. Therefore, I also got to use
          = external_link_to 'flexbox',
            '//caniuse.com/#search=flex',
            class: ''
          to implement the landing page.

        %p Last but not least, I decided to add some extra spice to the page by doing some SVG animation.

        %p.text-grey.lg-hide.md-hide View animation on a tablet, laptop or desktop

        .article-image-w600px.sm-hide
          .flex.justify-center
            .c1in2
              = inline_svg("projects/senza-carta/feature-individual-1.svg")

    .article-paragraph-h2
      %h2 Reflection
      %ul
        %li Be respectful to client’s logo, even if you think it looks good after you tweaking it
        %li Don’t be afraid to use stock images

    .article-paragraph-h2
      %h2 Knowledge

      .article-paragraph-h4
        %h4 SVG Optimization
        %ul.mb4
          %li
            = external_link_to "Thoughtbot - A more efficient and organized workflow for SVGs",
              "//robots.thoughtbot.com/organized-workflow-for-svg",
              class: ''
          %li
            = external_link_to "SVGO Compressor for Sketchapp",
              "//github.com/BohemianCoding/svgo-compressor",
              class: ''

      .article-paragraph-h4
        %h4 Inline SVG Helper for Ruby on Rails
        %ul.mb4
          %li
            = external_link_to "An inline svg gem for Ruby on Rails",
              "//github.com/jamesmartin/inline_svg",
              class: ''
          %li
            = external_link_to "An inline svg helper for Middleman",
              "//gist.github.com/bitmanic/0047ef8d7eaec0bf31bb",
              class: ''

      .article-paragraph-h4
        %h4 SVG Animation
        %p
          = external_link_to "CSS Trick - Animating SVG with CSS",
            "//css-tricks.com/animating-svg-css/",
            class: ''

    .article-paragraph-h2
      .flex.justify-center
        = external_link_to "Check this site",
          '//senzacarta.com.au',
          class: 'button'

    = partial 'partials/back_to_work'
