---
title: Work - Smart Clinics | Lennon Cheng - UX Designer
---

.flex-auto.mb12
  /header
  .c1in1
    .work-tile.mb9
      / project title & description
      .flex.flex-wrap.flex-auto.text-white.z1
        .flex.flex-column.flex-auto.justify-center
          .work-tile-title Smart Clinics
          .work-tile-description UX study on a medical online booking form
      / background color hover
      .bg-image-smart-clinics.o4
      / wrapper for anchor link
      .bg-image-base.z2

  .container.max-w600px
    .c1in1.card.p4.flex.flex-column.text-grey-dark
      .flex.left-align.mb2
        .flex1
          .text-blue Role
        .flex3
          Project Lead

      .flex.left-align.mb2
        .flex1
          .text-blue Skill
        .flex3.flex
          User Experience Research / Usability Testing / User Interface Design / Project Management

      .flex.left-align
        .flex1
          .text-blue Tool
        .flex3.flex
          Sketchapp / inVision / Pen & Paper

    .mt12
      %h2 Intro
      %p At the beginning of 2016, I got the change to work individually on NetEngine’s first user experience project. It was also the first time for myself to see a UX project all the way from proposal to final delivery.

      %h3 Client
      %p Smart Clinics is a network of family medical centers, whose aim is to make General Practitioners (GP) appointments a more positive experience.

      %h3 Problem
      %p
        Smart Clinics would like to improve the
        %u conversion rate
        of their current online booking form.

    .mt12
      %h2 Plan
      %p
        I created a 7-day proposal for the project:
      %ul
        %li Day 1: Understand the Product
        %li Day 2: Usability Testing
        %li Day 3: Find the Problem
        %li Day 4 - Day 7: Redesign

    .mt12
      %h2 Process

      .mt9
        %h3 Day 1: Understand the Product
        %p
          I haven’t exactly worked on a similar task before, especially with the terminology
          %u conversion rate
          \. One thing I know is that the better I could make the user experience of the form, the higher conversion rate the form can possibly get.

        %p
          The first thing I did was to understand the booking form by going through the process and mapping them out. The whole process includes 7 different steps (labeled as S1 to S7), along with 2 intermediate steps.

        = image_tag '/assets/images/projects/smartclinics/current_process.png'

        %p
          Along with this process, I took down some notes and created a list of obvious problems, issues and some suggestions based on my understanding of the product.

        %p
          With the list bearing in my mind, I pitched an ideal version of the process. The new process mapping was treated as a combination of my arrogant assumptions, which were later challenged by the usability testing session.

        = image_tag '/assets/images/projects/smartclinics/ideal_process.png'

      .mt9
        %h3 Day 2: Usability Testing
        .mt6
          %h4 A. Design
          %p
            Before inviting the users to the office, I carefully designed the usability testing session based on what I have learnt from uni. I had never conducted a usability test in the real business world at this point. 

          %p
            I read a bunch of articles from 
            = link_to 'A list apart', 'http://alistapart.com/'
            \. There was this article (sadly, I lost the track of the link) making analysis on people’s 
            %u reacting time and emotion 
            upon different tasks really caught my attention. I thought why not experimenting these in my first session.

          %p
            Here’s a sneak peek at the design:

          %ul
            %li Filling out a personal information and a privacy consent form
            %li First Round: Participants were asked to picture themselves as a patient and go ahead use the form to book an appointment fitting their needs; time spent and emotion expressed for each step will be recorded
            %li Second Round: Participants were asked to perform some more specific tasks under instructions
            %li Participants were asked to provide more feedback and suggestions in addition to the previous two rounds of testing

        .mt6
          %h4 B. Testing

          %p
            Here are some interesting statistics:
          %ul
            %li 
              %u 17 
              participants were invited over for the testing session
            %li 
              I spent 
              %u a whole day 
              just doing the testing
            %li 
              The notes I took covered 
              %u 26 double-sided 
              A4 paper
            %li 
              Over 
              %u 70% 
              of the participants book a GP consultation over the phone with the reception of clinics
            %li 
              Only 
              %u 2 out of the 17 participants 
              make bookings either through an app on the mobile phone or a website

      .mt9
        %h3 Day 3: Find the Problem
        .mt6
          %h4 A. Aggregate and Visualise
          %p To help the client and myself understanding the findings in the testing session better, I took some liberty to create some visuals and were later used in the project report.

  .container.max-w900px
    .flex.justify-between.sm-flex-column
      .c1in2.sm-c1in1
        = image_tag '/assets/images/projects/smartclinics/demographic.png'
      .c1in2.sm-c1in1
        = image_tag '/assets/images/projects/smartclinics/task_time.png'
    .flex.justify-between.sm-flex-column
      .c1in2.sm-c1in1
        = image_tag '/assets/images/projects/smartclinics/emotion.png'
      .c1in2.sm-c1in1
        = image_tag '/assets/images/projects/smartclinics/issue.png'

  .container.max-w600px
    .mt6
      %h4 B. Findings
      %ul
        %li 
          Initial target was 
          %u mobile user 
          instead of desktop user
        %li 
          All of the participants stated that they were never asked about symptoms and reasons when making a booking over the phone or using other online products
        %li 
          %u 76% 
          of the participants believe it is not necessary to have the functionality of multiple- patient booking
        %li 
          Confirmation is essential (during and after making a booking)
        %li 
          Patients have 
          %u different priorities 
          when making the bookings

    .mt9
      %h3 Day 4 - Day 7: Redesign
      .mt6
        %h4 A. Tackle the Problem
        %p I introduced the following concepts and features to the wireframe and new design:
        %ul
          %li 
            %span.bold List Approach: 
            the re-design uses a list approach to constantly remind users of what they have chosen and allow them to go back to any previous stages to make some changes.
          %li 
            %span.bold User Type and User System: 
            user will be asked to choose whether they have already registered an account. For existing users, the form provides a unique functionality allowing them to quickly choose a practitioner or clinic from the previous bookings as a base for the current one.
          %li 
            %span.bold Priority: 
            users will be asked to choose either “schedule time” or “general practitioner” as their priority before they start choosing a session.

      .mt6
        %h4 B. Optimised Process
        %p Based on the findings and issues I found, the ideal process was then further tailored to an optimised one:
        = image_tag '/assets/images/projects/smartclinics/optimised_process.png'

      .mt6
        %h4 C. The Redesign
        %p For the final stage of the project, I created an interactive prototype to demonstrate the new process.
        %p 
          You can find a bit more screenshots of my work in a similar 
          = link_to "case study", 'http://netengine.com.au/projects/smartclinics/', target: 'auto'
          I wrote for NetEngine.

    .mt12
      %h2 Result
      %p It’s a pity that due to the change of personnel in client’s company, we didn’t get to implement the design. Therefore, there is no measurement on whether my study and redesign would increase the conversion rate of the online booking form.

    .mt12
      %h2 Reflection
      %ul
        %li It helps to spot the problems right away by mapping out process of the current product, which is also a roadmap for me to come back at any time to rethink or change any intermediate step. 
        %li Visualisation of the data and process mapping are great tool to demonstrate findings and pitching new idea to the client.
        %li I should record the usability testing session if I ever get to do it again. Also, with help of some usability testing tools could lead to less effort but more comprehensive results.
        %li More time should allocated for usability testing and compiling results. The actual usage of time for this part was almost tripled.

    .mt12
      = link_to "< Back to Work", '/work', class: 'button'
