---
title: Work - The Nick Team | Lennon Cheng - Product Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align The Nick Team

    .article-paragraph-h2
      %h2 Intro
      %p Working on a real estate agency website for The Nick Team. Thought it be cool to bring client's office up on the site with a bit style.

    .article-paragraph-h2
      %h2 Office Illustration
      .article-image-w600px
        = image_tag '/assets/images/projects/the-nick-team/hero.jpg'

    .article-paragraph-h2
      %h2 Website Design
      .article-image-w600px
        = image_tag '/assets/images/projects/the-nick-team/website_1.jpg'
      .article-image-w600px
        = image_tag '/assets/images/projects/the-nick-team/website_2.jpg'

    .article-paragraph-h2
      .flex.justify-center
        = link_to "Dribbble Shot", 'https://dribbble.com/shots/3098428-Real-Estate', class: 'button', target: 'auto'

    .article-paragraph-h2
      = link_to "< Back to Work", '/work', class: 'text-grey light'
