---
title: Work - Wiredcraft co. | Lennon Cheng - UI/UX Designer, Front-end Developer
page_title: 'Wiredcraft Co.'
description: 'Reimagining online presence for Wiredcraft'
slug: 'wclco'
image_format: 'jpg'
image_position: 'center 50%'
---

.flex-auto
  = partial 'partials/case_header'

  .container.max-w900px
    .article-info-board
      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Role
        .flex3.sm-flex1
          Web Designer

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Skill
        .flex3.sm-flex1
          Research / Mood Board / Font Pairing / UI Design / Style Guide / Illustration

      .flex.sm-flex-column.left-align.mb2
        .flex1
          .text-blue Tool
        .flex3.sm-flex1
          Pen & Paper / Sketchapp

      .flex.sm-flex-column.left-align
        .flex1
          .text-blue Result
        .flex3.sm-flex1
          Concept did not make the cut. However, the style has been used on the
          = link_to 'work', '/work'
          page of my website.

    .article-paragraph-h2
      %h2 Intro
      %p
        Taking a long break from my life in Brisbane, I returned to my hometown, Shanghai in summer 2017. As part of my journey, I took on an internship at
        = link_to 'Wiredcraft', 'https://wiredcraft.com/', target: '_blank'
        , a web application and design agency at the heart of the city.

      .article-paragraph-h3
        %h3 Client
        %p
          My client is simply the company. Wiredcraft provides web and mobile solutions to some notable companies located in mainland China, including
          = link_to 'Starbucks China', 'https://www.starbucks.com.cn/', target: '_blank'
          ,
          = link_to 'World Bank', 'http://data.worldbank.org/', target: '_blank'
          ,
          = link_to 'Etam', 'http://www.etam.com/', target: '_blank'
          and more.

      .article-paragraph-h3
        %h3 Challenge
        %p My challenge is clear, apply a modern and tech feel to the current website. More importantly, find a balance between pragmatic (tech) and artistic (design) style to better represent the company.

      .article-paragraph-w900px
        = image_tag '/assets/images/projects/wclco/wclco_old.png'

      .article-paragraph-h3
        %h3 Goal
        %p Visually elevate wiredcraft.com website based on the existing content and page hierarchy on the staging site. Responsibilities includes:
        %ul
          %li Choice of font style and size
          %li Explore and set the visual style of the website
          %li Consider reusable components on the website
          %li Produce a style guideline for the team

    .article-paragraph-h2
      %h2 Plan
      %p
        I created a 9-day plan for the website redesign:
      %ul
        %li Day 1-2: Research and exploration of visual style (Moodboard, font style and size, illustration style)
        %li
          Day 3-4: Create early UI elements following principles of
          = link_to 'Atom Design', 'http://bradfrost.com/blog/post/atomic-web-design/', target: '_blank'
        %li Day 5-7: Mockup
        %li Day 8-9: 1st Round Iteration

    .article-paragraph-h2
      %h2 Process

      .article-paragraph-h3
        %h3 Day 1: Duality - Research and Moodboard
        %p
          Following my leader's recommendation, I was advised to create a moodboard to explore and communicate my choice of style. Duality was my obsession at the time. Therefore, I went on to stitch up my very first moodboard exercise.

        .article-image-w600px
          = image_tag '/assets/images/projects/wclco/dual_moodboard.png', class: 'frame-dotted'

        %p Here's a simple vision I had for the hero section of the homepage.

        .article-paragraph-w900px
          = image_tag '/assets/images/projects/wclco/dual_hero.png', class: 'frame-dotted'

        %p My pursue for the style was soon got skilled. He pointed out that the company is looking for a more clean and simple style while keeping a good balance between design and corporate feeling. The dual color exploration is towarding design and using a pink-ish color, which is not ideal for corporate side of users.

        %p I then decided to go for a more simplified and minimalized style.

      .article-paragraph-h3
        %h3 Day 2: Simplicity - Exploration
        %p With the new direction in mind, I was hijacked to do some font pairing at the beginning of the day provided with a new logo concept produced by the boss.

        .article-image-w600px
          = image_tag '/assets/images/projects/wclco/font_pairing.png', class: 'frame-dotted'

        %p With the new logo and font choice, I had a strong visual in my head. So I went on painting out my idea directly.

        .article-image-w600px
          = image_tag '/assets/images/projects/wclco/simplicity_exploration.png', class: 'frame-dotted'

        %p Also, I created some customised icons.

        .article-paragraph-w900px
          = image_tag '/assets/images/projects/wclco/icons.png'

        %p At the end of the day, I got green light from my leader with some minor changes on the button colors.

      .article-paragraph-h3
        %h3 Day 3: Style Guide
        %p
          This was also the first time I took a deep look into an established design principle -
          = link_to 'Atom Design', 'http://bradfrost.com/blog/post/atomic-web-design/', target: '_blank'
          and directly applied it to my design process.

        .article-paragrah-w900px
          = image_tag '/assets/images/projects/wclco/style_guide.png', class: 'frame-dotted'

      .article-paragraph-h3
        %h3 Day 4: Off Rails

        %p Starting from Day 4, my work started to part ways with the plan. I realized that my leader was actually not the shot caller. Instead, my boss, who had an entirely different vision of the project, was my true client.

      .article-paragraph-h3
        %h3 Day 5: Black and Red

        %p According to the feedback and new inspiration provided, I created a new style, which was the final progress I made on the project due to some changes in project planning and management.

        .article-paragraph-w900px
          .flex.justify-between.sm-flex-column
            .c1in2.sm-c1in1
              = image_tag '/assets/images/projects/wclco/black_red_home.png', class: 'frame-dotted'
            .c1in2.sm-c1in1
              = image_tag '/assets/images/projects/wclco/black_red_blog.png', class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Result
      %p The result was not quite as what I expected. The project was stopped internally and the company went for outsourcing on the design later on.

      %p However, I was really proud of my own design and the style I came up with at the final stage. Therefore, I re-tuned the design to fit for my own portfolio website, which is the one you are browsing.

      .article-paragraph-w900px
        = image_tag '/assets/images/projects/wclco/work.png'


    .article-paragraph-h2
      %h2 Reflection
      %ul
        %li Moodboard is a great way to explore and communicate the overarching style of a project you want to get started on both internally and externally. “Internal” as in it can directly show inconsistency among different elements you have chosen and keep you focused when deciding a particular style. “External” as in it is a great way to communicate the style and feeling with the client and stakeholders.
        %li Be clear with who is your actual client, that is who makes the final call. Work closely with the actual client to be on the right track and get constant feedback to minimize the risk to go to an opposite direction.
        %li An organized design system sets a developer’s mind into the design work. It attempts to reduce the duplication and repetition in both design and development. Reusability is the key to an efficient system.
        %li It's not the end of world to have your concept killed. You can make it reborn again by fusing it into your future or past works.
        %li For any agency work, there sits a boundary between delivery and perfection, and the boundary is set by time and budget.

    .article-paragraph-h2
      .flex.justify-center
        = link_to "Dribbble Shot", 'https://dribbble.com/shots/3698421-Wiredcraft-com-redesign-concept', class: 'button', target: 'auto'

    = partial 'partials/back_to_work'
