---
title: Work - Christmas 2017 | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.flex-auto
  .container.max-w600px
    %h1.center-align Christmas 2017

    .article-paragraph-h2
      %h2 Intro
      %p
        It's this time of the year, I was asked to work on a Christmas card, which will go out to our clients, for NetEngine in early November. In the spirit of trying something new every time I work on a thing, illustration in this case, I wanted to jump out of my adopted style to explore something new.

      %p
        My goal for this illustration was to go:
        %ul
          %li Mature
          %li Simple and use fewer colors
          %li Bold shape without stroke


    .article-paragraph-h2
      %h2 Explorations
      %p
        There was also this tone of Aussie humor I really want to bring into the card design. I ended up having a Christmas tree on a summer island being a little scared caused by the wave. The line on the card goes with "No worries, it's Christmas", which is super Australian!

      %p
        Here are some visual explorations I have done during the process. I looked into different color palettes, gradient style, and even texture in illustrator.

      .mt2
        = image_link '/assets/images/projects/xmas-2017/exploration-1.jpg',
          class: 'frame-dotted'

      .flex.flex-wrap.justify-between.mt1
        .c1in2
          = image_link '/assets/images/projects/xmas-2017/exploration-2.jpg',
            class: 'frame-dotted'

        .c1in2
          = image_link '/assets/images/projects/xmas-2017/exploration-4.jpg',
            class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Draft
      %p
        I landed on the the draft version with the NetEngine blue. The feedback I got was it's too plain and probably missing some holiday spirit.

      .mt2
        = image_link '/assets/images/projects/xmas-2017/draft.jpg',
          class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Final Result
      %p
        For the final version, I brought back the classic Christmas color palette. It feels all Christmasy now.

      .mt2
        = image_link '/assets/images/projects/xmas-2017/hero.jpg',
          class: 'frame-dotted'

    .article-paragraph-h2
      %h2 Print
      %p
        I ordered 50 cards from Office Work on behalf of the company. The paper brought out a really nice texture and reminded me again of how good the feeling was when you see your work get printed out in the physical world.
      .mt2
        = image_link '/assets/images/projects/xmas-2017/print.jpg',
          class: 'frame-dotted'


    .article-paragraph-h2
      .flex.justify-center
        = external_link_to "Dribbble Shot",
          'https://dribbble.com/shots/3958586-Something-Christmasy',
          class: 'button'

    = partial 'partials/back_to_work'
