// Article
.pb5#article
%h2 Article
.mb5
  // Heading
  .pb3#heading
  %h3 Heading
  .mb3
    .flex.flex-wrap
      .w100.card
        %h1.p4 Main heading
        .card-footer h1

      .w100.card
        %h2.p4 Section heading
        .card-footer h2

      .w100.card
        %h3.p4 Sub-section Heading
        .card-footer h3

      .w100.card
        %h4.p4 Smallest Heading
        .card-footer h4

  // Paragraph
  .pb3#paragraph
  %h3 Paragraph
  .mb3
    .c1in1.card
      %p.p2.left-align
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultrices vehicula finibus. Phasellus ligula sapien, pulvinar nec molestie vitae, hendrerit nec turpis. Donec sit amet ultricies enim. Ut vitae enim nulla. Mauris sem quam, viverra at dui tempus, porta luctus lacus.
      .card-footer p

  // Link
  .pb3#link
  %h3 Link
  .mb3
    %p
      Same-page link uses
      %a.external{ target: '_blank', href: '//github.com/cferdinandi/smooth-scroll' } Smooth Scroll
      to provide a better scrolling experience when navigating within the same page.
    .flex.flex-wrap.justify-between
      .c1in2.sm-c1in1.card
        .card-header Same-page Link
        %p.p2.left-align
          Lorem ipsum,
          = link_to 'go to the article section smoothly',
            '#article',
            'data-scroll': 'true'
          adipiscing elit.
        .card-footer = link_to 'text', 'same_page_div_id', 'data-scroll': 'true'

      .c1in2.sm-c1in1.card
        .card-header Interal Link
        %p.p2.left-align
          Lorem ipsum,
          take a look at my
          = link_to 'work',
            '/work'
          page
        .card-footer = link_to 'text', 'internal_page_url', class: ''

      .c1in2.sm-c1in1.card
        .card-header External Link
        %p.p2.left-align
          Lorem ipsum dolor sit amet,
          = external_link_to 'go to my instagram page',
            '//www.instagram.com/lennonzf/',
            class: ''
          adipiscing elit.
        .card-footer = external_link_to 'text', 'external_page_url', class: ''

  // Image
  .pb3#image
  %h3 Image
  .mb3
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header Image
        .p2
          = image_tag '/assets/images/projects/maimax/robot-2.jpg'
        .card-footer = image_tag 'image_url'

      .c1in2.card
        .card-header Clickable Image
        .p2
          = image_link '/assets/images/projects/maimax/robot-2.jpg',
            class: ''
        .card-footer = image_tag 'image_url', class: ''

    %h4 Helper
    .flex.flex-wrap.justify-between
      .c1in2.card
        .card-header Dotted Frame
        .p2
          = image_link "/assets/images/projects/maimax/robot-2.jpg",
            class: 'frame-dotted'
        .card-footer .frame-dotted

  // Underline
  .pb3#underline
  %h3 Underline
  .mb3
    .c1in1.card
      %p.p2.left-align
        Lorem ipsum dolor sit amet,
        %u this is important
        adipiscing elit.
      .card-footer u

  // List
  .pb3#list
  %h3 List
  .mb3
    .flex.flex-wrap.justify-between
      .c1in2.sm-c1in1.card
        .card-header Un-ordered List
        .p2.left-align
          %ul
            %li Item 1
            %li Item 2
            %ul
              %li Item 2.1
              %li Item 2.2
            %li Item 3
        .card-footer ul

      .c1in2.sm-c1in1.card
        .card-header Ordered List
        .p2.left-align
          %ol
            %li Item 1
            %li Item 2
            %ol
              %li Item 2.1
              %li Item 2.2
            %li Item 3
        .card-footer ol

  // Code
  .pb3#code
  %h3 Code
  .mb3
    %p
      Code snippet uses
      %a.external{ href: '//prismjs.com/index.html', target: '_blank' } Prism
      , a lightweight and extensible syntax highlighter,
      and its
      %a.external{ href: '//prismjs.com/plugins/line-numbers/', target: '_blank' } line numbers
      plugin.

    .c1in1.card
      .p4.left-align
        %pre.line-numbers
          %code.language-haml
            :preserve
              %pre.line-numbers
                %code.language-haml
                  :preserve
                    // Here goes the code in the code snippet

      .card-footer
        pre.line-numbers / code.language-haml
