---
title: Style Guide | Lennon Cheng - UX Designer
---

.container.max-w900px
  %h1.light.center-align Style Guide

  .flex.justify-between.sm-flex-column
    .container.max-w150px
      %ul.mt0
        %li Intro
        %li Screen
        %li Grid
        %li Font
        %ul
          %li Typography
          %li Size
          %li Helper
          %li Heading
        %li Color
        %li Article

    .container.max-w600px
      = partial 'partials/style-guide/intro'
      = partial 'partials/style-guide/screen'
      = partial 'partials/style-guide/grid'
      = partial 'partials/style-guide/font'
      = partial 'partials/style-guide/color'
      = partial 'partials/style-guide/article'
