---
title: Style Guide | Lennon Cheng - UI/UX Designer, Front-end Developer
---

.container.max-w900px.animation-slide-up
  %h1.center-align Style Guide

  .flex.justify-between.sm-flex-column
    .container.max-w150px.sm-hide
      #side_navigation
        = partial 'partials/style-guide/side_navigation'

    .container.max-w600px
      = partial 'partials/style-guide/intro'
      = partial 'partials/style-guide/identity'
      = partial 'partials/style-guide/screen'
      = partial 'partials/style-guide/grid'
      = partial 'partials/style-guide/font'
      = partial 'partials/style-guide/color'
      = partial 'partials/style-guide/article'
      = partial 'partials/style-guide/form'
